$form-bg-color = #efefef
$input-border-color = #95a5a6
$label-color = #363636
$white = #fff
$error-text-color = #e74c3c

$tooltip-background = #bec8d0

$submit-button-color = #2c9f23
$submit-button-border-color = #197c11
$submit-button-disabled-color = #808080

$input-border-normal-focus-shadow = inset 0 3px 3px rgba(149, 165, 166, 0.5);
$input-border-focus-error-shadow = inset 0 3px 3px rgba(231, 76, 60, 0.6)
